#quit-room-btn {
  padding: 10px 25px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  margin: 10px;
}

#room-name {
  padding: 15px;
}

#game-container {
  width: 50vw;
  height: 50vh;
  border: 1px solid var(--main-button-border-color);
  margin: 25px;
  margin-left: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ready-btn {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  height: 100px;
  width: 200px;
  font-size: large;
  font-weight: bold;
}

#timer {
  font-size:xx-large;
  font-weight: bold;
}

#text-container {
  font-size: large;
}

#game-timer {
  position: absolute;
  bottom: 15px
}

.user-header {
  display: flex;
  margin: 5px 0px;
}

.user {
  margin: 25px;
  width: 100%
}

.username {
  margin-left: 20px;
}

.user-progress-template {
  width: 100%;
  border: 1px solid var(--main-button-border-color);
  height: 25px;
}

.user-progress {
  height: 100%;
  background-color:green;
}

.finished {
  background-color:greenyellow !important;
}

.cursor {
  border-bottom: 1px solid var(--game-input-wait-border-color);
}

.done {
  background: var(--game-input-correct-background);
}

/* Commentator */
.commentator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.commentator .avatar {
  height: 150px;
  width: 150px;
  margin-top: 10px;
  align-self: flex-end;
}

.commentator #comment {
  text-align: justify;
  width: 100%;
  padding: 10px 20px 20%;
  color: var(--main-font-color);
  background: rgb(240, 240, 240);
  border-radius: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
